@{
    ViewBag.Title = "Home Page";
}
@using InventoryManagementMVC.Models

<main class="main-container">
    <h1>Welcome @Session["User"].ToString()!</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Equipment List</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Item Name</th>
                                    <th>Stock</th>
                                    <th>Entry Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    List<Equipment> equipmentLst = Equipment.GetEquipmentList();

                                    foreach (Equipment item in equipmentLst)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Count</td>
                                            <td>
                                                @item.EntryDate
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">Member List</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive" style="max-height: 247px;">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    List<Member> memberLst = Member.GetMemberList();

                                    foreach (Member item in memberLst)
                                    {
                                        <tr>
                                            <td>@item.MemberId</td>
                                            <td>@item.Name</td>
                                            <td>@item.Department</td>
                                            <td>
                                                @item.Designation
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>